<%=link_to user_post_path(post.author, post), class:'posts-card' do%>
  <h3><%=post.title%></h3>
  <div><%=post.text[0,50]%><%='...' if post.text[51]%></div>
  <div class='post-cards-count'>Comments: <%=post.comment_counter%>, Likes: <%=post.like_counter%></div>
<%end%>