<%= render 'shared/user', user: @user%>
<ul class='all-posts'>
  <% if @user.post.empty?%>
    <p class='post-card-no-click'>No posts</p>
  <% else%>
  <% @user.post.each do |post|%>
    <li>
      <div class='posts-card-div'><%= render 'shared/post', post: post%></div>
      <div class='posts-comments'>
        <h3>Comments:</h3>
        <% post.recent_5_comments.each do |comment,index| %>
        <div>
          <span class='comment-author'><%= comment.author.name %>:</span>
          <span><%= comment.text %></span>
        </div>
        <% end %>
      </div>
    </li>
  <%end%>
<%end%>
</ul>
<%= link_to 'Back', :back, class: 'back-btn btn-secondary' %>